@model IEnumerable<SchoolReports.Models.Report>

@{
    ViewBag.Title = "Beheer";
}

<h2>Beheer</h2>

<table>
    @foreach (int level in ViewBag.Levels)
    {
        <tr>
            <td style="width: 60%">
                <h2>Leerjaar @level</h2>
            </td>
            <td style="width: 20%; text-align: center;">
                <img src="~/Images/swimming.png" alt="Zwemrapporten" title="Zwemrapporten" />
            </td>
            <td style="width: 20%; text-align: center;">
                <img src="~/Images/gymnastics.png" alt="Turnrapporten" title="Turnrapporten" />
            </td>
        </tr>
        
        foreach (SchoolReports.Models.Period currentPeriod in ViewBag.Periods)
        {
        <tr>
            <td>@currentPeriod.Name</td>
            <td style="text-align: center;">
                @{ Html.RenderPartial("_ReportCreationLinks", Model, new ViewDataDictionary { { "currentLevel", level }, { "currentPeriodId", currentPeriod.Id }, { "reportType", SchoolReports.Models.ReportTypes.Swim } }); }
            </td>
            <td style="text-align: center;">
                @{ Html.RenderPartial("_ReportCreationLinks", Model, new ViewDataDictionary { { "currentLevel", level }, { "currentPeriodId", currentPeriod.Id }, { "reportType", SchoolReports.Models.ReportTypes.Gym } }); }
            </td>
        </tr>
        }
    }
</table>
